/*==========================
  --  Color  --
===========================*/
.color-theme {
    color: $color-theme;
}

.bg-theme {
    background-color: $color-theme;
}

.border-theme {
    border-color: $color-theme;
}

/*==========================
  --  Button  --
===========================*/
.btn1 {
    &:hover {
        color: $color-theme;
        background-color: #2d3a4b;
    }
}

.btn2 {
    &:hover {
        color: $color-theme;
        background-color: #fff;
    }
}

.btn3 {
    &:hover {
        background-color: $color-theme;
        color: #fff;
    }
}

/*---------------------*/
// * effect image *
.effect-2 {
    &:after {
        border-color: $color-theme;
    }
}

/*---------------------*/
// * effect image *
.link-style {
    border-color: $color-theme;
    text-decoration: none;

    &:hover, &:focus {
        color: $color-theme;
        border-color: #000;
        text-decoration: none;
    }
}

/*---------------------*/
// * ToolBar *
.toolbar {
    .pagination {
        .pages {
            ul {
                li {
                    a {
                        &:hover {
                            color: $color-theme;
                            border: 1px solid $color-theme;
                        }
                    }
                }

                .current {
                    color: $color-theme;
                    border-color: $color-theme;
                }
            }
        }
    }

    .sorter {
        .view-mode {
            a {
                &:hover {
                    border-color: $color-theme;
                    color: $color-theme;
                }
            }

            .active {
                border-color: $color-theme;
                color: $color-theme;
            }
        }
    }

    .sort-by {
        .sort-by-inner {
            #cata_sort_by {
                #sort_by_button {
                    &:hover {
                        border-color: $color-theme;
                    }
                }
            }
        }
    }
}
//title type3
.title.type3 {
    h2 {
        &:before {
            background-color: $color-theme;
        }
    }
}
/*=================================
  Css Tags (Page Blog List Sidebar)
===================================*/
.tags {
    ul {
        li {
            &:hover a {
                color: #fff;
                background-color: $color-theme;
            }

            a {
            }
        }
    }
}
/*==================================
  Css Search (Page Blog List Sidebar)
===================================*/
.search {
    .searchform {
        .button-search {
            &:before {
                color: $color-theme;
            }
        }
    }
}
/*================
  Landing Page
=================*/
.landing-page {
    .button-page {
        background-color: $color-theme;

        &:hover {
            color: #fff;
        }
    }
}
/*================
  Top Seller
=================*/
.top-seller {
    .post_list_widget {
        li {
            .item {
                .list-category {
                    a {
                        &:hover {
                            color: $color-theme;
                        }
                    }
                }

                .post-title {
                    &:hover {
                        color: $color-theme;
                    }
                }
            }
        }
    }
}
// Theme Best Seller
.best-seller {
    .load-more {
        a {
            transition: all 1s ease 0s;

            &:hover {
                background-color: $color-theme;
                transition: all 1s ease 0s;
            }
        }
    }
}
// blog slider
.blog-slider.type2 {
    .content {
        border-color: $color-theme;

        .blog-caption {
            a {
                &:hover {
                    color: $color-theme;
                }
            }

            .calendar .dd p {
                color: $color-theme;
            }
        }
    }
}

.popup-box {
    .first-popup {
        .social {
            .item-social {
                background-color: $color-theme;

                &:hover {
                    background-color: rgba(0, 0,0,0.5);

                    i {
                        color: $color-theme;
                    }
                }
            }
        }
    }
}
