.contact-us{
	.map{
		iframe{
			height: 415px;
			width: 100%;
		}
	}
	.while{
		.icon-title{
			background-image: url("../images/icon-type4.png") !important;
		}
		h1{
			letter-spacing: 1px;
		}
		h2{
			letter-spacing: -1px;
			display: inline-block;
		    margin-top: 6px;
		}
	}
	.content-right{
		form{
			.form-group{
				.input-box{
					span{
						width: 100%;
						input{
							width: 100%;
							height: 50px;
							padding: 11px 20px;
							font-size: 14px;
							background-color: #f0f0f0;
							border: none;
						}
					}
				}
				span{
					width: 100%;
					textarea{
						width: 100%;
						padding: 11px 20px;
						height: 130px;
						font-size: 14px;
						background-color: #f0f0f0;
						border: none;
					}
				}
			}
			button{
				font-size: 15px;
			    font-weight: 700;
			    font-family: 'Playfair Display';
			    color: #fff;
			    height: 45px;
			    width: 128px;
			    letter-spacing: 1px;
			    &:hover{
			    	background-color: #bc8d44;
			    	border-color: #bc8d44;
			    }
			}
		}
	}
	.content-left{
		.social{
			display: inline-block;
		    margin-top: 5px;
			li{
				margin-right: 0;
				padding-right: 0;
				a{
				    display: inline-block;
				    height: 38px;
				    line-height: 38px;
				    text-align: center;
				    width: 38px;
				    border-radius: 5px;
				    i{
				    	color: #fff;
				    }
				}
				.facebook{
					background-color: #3b5998;
					border: 1px solid #3b5998;

				}
				.twitter{
					background-color: #55acee;
					border: 1px solid #55acee;
				}
				.vimeo{
					background-color: #0e90cc;
					border: 1px solid #0e90cc;
				}
				.pinterest{
					background-color: #a9262a;
					border: 1px solid #a9262a;
				}
				.instagram{
					background-color: #c7b299;
					border: 1px solid #c7b299;
				}
			}
		}
		ul{
			list-style-type: none;
			li{
				margin-bottom: 35px;
				color: #727272;
				span{
					display: inline-block;
    				margin-bottom: 5px;
				}
				a{
					text-decoration: none;
					color: #727272;
				}
				p{
					color: #727272;
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.contact-us{
		.social{
			margin-bottom: 40px;
		}
	}
}