// landing page
.landing-page{
	overflow-x: hidden;
	.header-content{
		img{
			max-width: 100%;
		}
		.header-text{
			left: 0;
		  	margin: 0 auto;
		  	right: 0;
		  	top: 100px;
		  	display: inline-block;
		  	p{
		  		color: #fff;
		  		font-size: 30px;
		  		letter-spacing: 0.3px;
		  		margin: 50px 0;
		  	}
		  	.logo{
		  		display: inline-block;
		  	}
		  	.button-page{
		  		margin: 20px 0 20px 0;
		  	}
		}
	}
	.device-page{
		img{
			max-width: 100%;
		}
	}
	.list-pages{
		.container-full{
			width: 80%;
		    margin: 0 auto;
		    max-width: 1445px;
			.title{
				h1{
					letter-spacing: 1px;
				}
				h2{
					letter-spacing: 1px;
					margin-top: 0 !important;
				}
				p{
					color: #747577;
					font-style:italic;
					line-height: 2;
					letter-spacing: 1px;
				}
			}
			img{
				max-width: 100%;
				width: 100%;
			}
			.item{
				margin-bottom: 25px;
			}
		}
	}
	.footer{
		background-image: url("../images/landing-page/bg-footer.png") !important;
		background-position: center center;
	    background-repeat: repeat;
	    background-size: cover;
	    .footer-top{
			h1{
				letter-spacing: 6.7px;
	    		font-size: 34px;
	    		color: #fff;
			}
			h2{
				font-family: "Candara";
				letter-spacing: 2.2px;
				color: #fff;
			}
		}
		.footer-bottom{
			border-top: 1px solid #393939;
			p{
				padding: 20px 0;
				color: #9f9f9f;
				letter-spacing: 0.3px;
				a{
					text-decoration: none;
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}
	.button-page{
	    // background-color: #ffb606;
	   // background-color: #fff;
	    padding: 14px 21px;
	    text-decoration: none;
	    color: #000;
	    font-weight: 700;
	    letter-spacing: 1px;
	    border-radius: 2px;
	    font-family: 'Playfair Display';
	    display: inline-block;
	}
}
@media screen and (max-width: 1500px){
	.landing-page{
		.header-content{
			.header-text{
			  	top: 60px;
			  	.logo{
		  			img{
		  				height: auto;
		  				width: 210px;
		  			}
		  		}
			  	p{
			  		margin: 25px 0;
			  	}
			  	.button-page{
			  		margin: 10px 0;
			  	}
			}
		}
	}
}
@media screen and (max-width: 1280px){
	.landing-page{
		.header-content{
			.header-text{
			  	top: 60px;
			  	p{
			  		margin: 30px 0;
			  		font-size: 27px;
			  	}
			  	.button-page{
			  		margin: 15px 0 15px 0;
			  	}
			}
		}
	}
}
@media screen and (max-width: 980px){
	.landing-page{
		.header-content{
			.header-text{
			  	top: 40px;
			  	p{
			  		margin: 30px 0;
			  		font-size: 18px;
			  	}
			  	.button-page{
			  		margin: 10px 0 10px 0;
			  		background-color: #ffb606;
				    padding: 8px 15px;
				    font-size: 12px;
			  	}
			}
		}
	}
}
@media screen and (max-width: 800px){
	.landing-page{
		.header-content{
			.header-text{
			  	top: 35px;
			  	a{
			  		img{
			  			height: auto;
    					width: 120px;
			  		}
			  	}
			  	p{
			  		margin: 18px 0;
			  		font-size: 18px;
			  	}
			  	.button-page{
			  		margin: 10px 0 10px 0;
			  		background-color: #ffb606;
				    padding: 8px 15px;
				    font-size: 12px;
			  	}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.landing-page{
		.header-content{
			.header-text{
			  	top: 15px;
			  	margin-left: 15px !important;
			  	.logo{
			  		display: inline;
			  		text-align: left !important;
			  		img{
			  			height: auto;
					    width: 130px;
			  		}
			  	}
			  	p{
			  		margin: 18px 0;
			  		font-size: 18px;
			  	}
			  	.button-page{
			  		margin: 10px 0 10px 0;
			  		background-color: #ffb606;
				    padding: 8px 15px;
				    font-size: 12px;
			  	}
			}
		}
	}
}
@media screen and (max-width: 454px){
	.landing-page{
		.header-content{
			.header-text{
			  	p{
			  		color: #000000;
				    margin-top: 260px;
			  	}
			}
		}
		.main{
			margin-top: 150px;
		}
	}
}
@media screen and (max-width: 400px){
	.landing-page{
		.header-content{
			.header-text{
			  	p{
				    margin-top: 200px;
			  	}
			}
		}
		.main{
			margin-top: 150px;
		}
	}
}