/*==========================
  --  Header  Type1--
===========================*/

.header-container.type1 {
  /*--------------------*/
  //* Top Bar *
  .top-bar {
    background: #2d3a4b;
    .top-list-color {
      .top-search, .top-phone-call, .top-language, .top-currency, .top-account, .social-top {
        color: #c2c2c2;
        border-left: #414d5c 1px solid;
        a {
          line-height: 45px;
          padding: 0 25px;
          display: inline-block;
          color: #c2c2c2;
          text-decoration: none;
          font-size: 12px;
          font-weight: 400;
        }
        .top-login-link {
          padding-right: 0;
        }
        .top-register-link {
          padding-left: 0;
        }
        &.top-search {
          .dropdown-menu {
            padding: 0;
            background-color: #2d3a4b;
            border-radius: 3px;
            width: 267px;
            .navbar-form {
              padding: 0;
              margin: 0;

              .input-search {
                position: relative;
                width: 100%;
                border: none;
              }
              button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                border: none;
              }
            }
          }

          i {
            font-size: 13px;
          }
        }
        .navbar-setting {
          cursor: pointer;
        }
        .dropdown-menu {
          min-width: 123px;
          margin: 0;
          @include border_radius(0);
          padding-top: 15px;
          padding-bottom: 16px;
          li {
            a {
              font-size: 13px;
              line-height: 2;
              width: 100%;
              color: #9f9f9f;
              background-color: #fff;
              padding: 10px 20px;
              display: inline;
            }
          }
        }
      }
      & .top-search {
        border-left: 0;
      }
      & .social-top {
        padding: 0 25px;
        ul{
          li{
            padding:0;
            margin-right: 0!important;
          }
        }
        a {
          padding:0 5px;
          i{
            font-size: 12px!important;
          }
        }
      }
    }
  }
  /*--------------------*/
  //* Header Middle *
  .header-middle {
    .container {
      position: relative;
    }
    .logo {
      a {
        display: block;
        padding: 15px 0;
        float: left;
      }
    }
    .main-menu {
      .nav {
          > li {
            > a {
              color: #26292d;
            }
          }
        }
      @media (min-width: 992px) and (max-width: 1199px) {
        .nav {
          > li {
            > a {
              padding-right: 18px!important;
              padding-left: 18px!important;
            }
          }
        }
      }
    }
    .top-mini-cart {
      margin: 15px 0;
    }

    @media (min-width: 992px) {
      padding-bottom: 30px;
      padding-top: 30px;
    }
    @media (max-width: 991px) {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  /*--------------------*/
  //* Top Mini Cart *
  .top-mini-cart {
    float: right;
    > a {
      letter-spacing: 1px;
      border-width: 2px;
      border-style: solid;
      padding: 15px 40px 10px 20px;
      color: #6f6f6f;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      .text-cart {
        font-size: 13px;
        font-weight: 400;
      }
      .position-cart {
        @include position($top:-5px, $right:-18px, $bottom:null, $left:null);
        @include border_radius(60px);
        color: #fff;
        font-size: 12px;
        text-align: center;
        width: 18px;
        height: 18px;
      }
      &:hover, &:active, &:focus {
        text-decoration: none;
        transition: 1s;
      }
    }
  }

  .item{
      >a{
          >i{
              display:none;
          }
      }
  }
}
