/*==========================
  --  Header Type3 --
===========================*/
.header-container.type3 {
  /*--------------------*/
  //* Top Bar *
  .top-bar {
    height: 40px;
    color: #6f6f6f;
    ul {
      margin-bottom: 0;
    }
    border-bottom: 1px solid #f1f1f1;
    li {
      line-height: 2;
      padding: 5px 30px;
    }
    .top-phone-call {
      float: left;
      padding-left: 0!important;
    }
    li:nth-child(1) {
      border-right: 1px solid #f1f1f1;
    }
    li > a {
      color: #6f6f6f;
      font-size: 13px;
      &:hover {
        text-decoration: none;
      }
    }
    .top-search {
      input {
        float: right;
        height: 30px;
        border: none;
        font-size: 13px;
        color: #6f6f6f;
      }
      button {
        float: left;
        background-color: transparent;
        border: none;
        padding: 4px;
        font-size: 18px;
        color: #6f6f6f;
      }
    }
    .top-mini-cart {
      display: inline-block;
      padding-right: 0!important;
      > a {
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        .position-cart {
          @include position($top: -7px, $right:-16px, $bottom:null, $left:null);
          @include border_radius(60px);
          font-size: 12px;
          top: -7px;
          right: -16px;
          padding: 0px 6px;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 1.5;
          color: #fff;
          &:hover, &:focus, &:active {
            color: #fff;
          }
        }
        &:hover, &:focus, &:active {
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-form {
      margin-top: 0 !important;
      margin-bottom: 0!important;
      margin-left: -15px;
    }
  }

  /*--------------------*/
  //* Header Middle *
  .header-middle {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0);
    .container {
      position: relative;
    }
    .logo {
      a {
        display: block;
        padding: 20px 0;
        float: left;
      }
    }
    .main-menu {
      display: inline-block;
      float: right;
      .nav {
        >li {
          >a {
            color: #26292d;
          }
        }
      }
    }
    .btn-menu {
      padding: 0;
    }
    .top-search {
      display: inline-block;
      .search-link {
        padding: 30px 10px;
        display: block;
        &:hover, &:focus, &:active {
          background-color: transparent;
        }
      }
      .dropdown-search {
        padding: 0;
        border: none;
        width: 370px;
        left: initial;
        right: -64px;
        .search {
          padding: 0;
          margin: 0;
          .input-search {
            position: relative;
            width: 100%;
            height: 45px;
            padding-right: 45px;
          }
          .lnr-magnifier {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 45px;
            color: #6b6871;
          }
        }
      }
    }

  }

}

@media (max-width: 1199px) {
  .header-container.type3 .top-bar .top-mini-cart {
    padding: 5px 20px !important;
  }
}
@media (max-width: 991px) {
  .header-container.type3 {
    position: relative;
    .top-bar {
      width: 80px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -15px;
      border: none;
      z-index: 9;
      .row{
          margin-right:0;
      }
      .top-right, .top-left {
        width: 30px;
        padding: 0;
      }
      .top-mini-cart > a {
        margin-top: 5px;
      }
      .container {
        width: auto;
      }
      li {
        padding: 5px 0;
        &:nth-child(1) {
          display: none;
        }
        input {
          display: none;
        }
        button {
          font-size: 15px !important;
        }
        .text-items {
          display: none;
        }
        &.top-mini-cart {
          padding: 0 !important;
          .fa-shopping-cart {
            font-size: 15px;
          }
        }
      }
    }
    .header-middle {
      .nav-menu {
        float: left;
        position: initial;
      }
    }
    .mobile-menu {
      margin-left: 20px;
    }
  }
}
@media (max-width: 767px) {
  .header-container.type3 .top-bar .navbar-form {
    margin: 0;
    padding: 0 15px;
  }
}
@media (max-width: 639px) {

}
@media (max-width: 479px) {
  .header-middle {
    .logos {
      width: 50%;
      img {
        max-width: 100%;
      }
    }
    .mean-container a.meanmenu-reveal {
      padding: 5px 13px;
    }
  }
}