/*==========================
  --  Header  --
===========================*/
.header-container {
  @media (min-width: 992px) {
    &.position-header {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
    }
  }
  .main-menu {
    .nav {
      > li {
        > a {
          padding-left: 22px;
          padding-right: 22px;
          padding-top: 30px;
          padding-bottom: 30px;
          font-size: 16px;
          font-weight: 500;
          &:hover, &:active, &:focus {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .mobile-menu {
      .container {
        padding: 0!important;
      }
    }
  }
}

