/*==========================
  --  Header  Type4--
===========================*/

.wine {
    padding-right: 15px;
    padding-left: 15px;
}

.backgroud-menu {
    padding: 0;
    background-image: url('../images/bg-menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
}

.header-container.type4 {
    .main-mega{
        position:relative;
    }
    .mask-opaopacity {
        padding: 0 70px;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
    }

    .top-bar {
        width: 100%;
        display: inline-block;
        border-bottom: 1px #5c574e solid;
        line-height: 40px;

        a {
            color: #c2c2c2;
            text-decoration: none;
            cursor: pointer;
            @extend .font12;
        }

        .top-bar-left {
            display: inline-block;
            float: left;

            .dropdown-parent {
                display: inline-block;

                &:last-child {
                    margin-left: 26px;
                }
            }
        }

        .top-bar-right {
            display: inline-block;
            float: right;
        }

        .top-account {
            color: #c2c2c2;
        }
    }

    .logo {
        display: inline-block;

        a {
            display: block;
            padding: 45px 0;
        }
    }

    .search {
        position: relative;
        color: #fff;
        width: 100%;
        display: inline-block;

        input[type=search] {
            background-color: rgba(156, 148, 148, 0.2);
            border: 0;
            width: 100%;
            height: 50px;
            padding-left: 24px;
            padding-right: 50px;
            letter-spacing: 0.25px;
        }

        button {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0px;
            top: 50%;
            padding: 18px 20px;
            @include transformY(-50%);
        }
    }

    .main-menu {
        margin-top: 55px;
    }

    .top-mini-cart {
        display: inline-block;
        border: 1px solid;
        width: 100%;
        text-align: center;
        line-height: 50px;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 55px;

        > a {
            color: #fff;
            text-decoration: none;

            i {
                margin-right: 10px;
            }
        }

        .cart-dd {
            left: 110%;
            top: inherit;
            bottom:0;
        }
    }

    .link {
        margin-top: 30px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px #5c574e solid;
        padding-bottom: 20px;
        color: #fff;

        span {
            margin: 0;
            float: left;

            i {
                background-color: rgba(183, 33, 33, 0.65);
                padding: 12px 14px;
                border-radius: 20px;
            }
        }

        i {
            cursor: pointer;
        }

        ul {
            float: right;
            margin: auto;
            line-height: 38px;
        }

        .link-hover {
            display: inline-block;
            padding-top: 20px;

            &:hover {
                .list-link {
                    display: block;
                    visibility: visible;
                    z-index: 9999;
                    opacity: 1;
                    -webkit-transform: scale(1, 1);
                    transform: scale(1, 1);
                    transition: transform 0.3s ease, opacity 0.2s ease .1s;
                    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease .1s;
                }
            }
        }

        .list-link {
            background-color: #fff;
            bottom: 100%;
            left: 0;
            opacity: 0;
            -webkit-transform-origin: top;
            transform-origin: top;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
            transition: transform 0.5s ease, opacity 0.2s ease;
            -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease;

            ul {
                list-style-type: none;
                margin: 0;
                width: 117px;
                padding: 14px 0 14px 20px;

                li {
                    line-height: 30px;
                }
            }

            a {
                color: #747577;
                letter-spacing: 0.25px;
                text-decoration: none;
                @extend .text-semi-bold;
            }
        }

        .list-social {
            padding-top: 20px;

            li {
                padding: 0;

                i {
                    padding: 0 15px;
                    color: #fff;
                    line-height: 38px;
                }

                &:last-child {
                    i {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .copy-rights {
        p {
            margin: 0;
            padding: 20px 0;
            color: #dedede;
        }

        a {
            text-decoration: none;

            &:hover {
                color: #ccc;
            }
        }
    }
}

@media(min-width: 1200px) {
    .header-container.type4 {
        position: fixed;
        bottom: 0;
        top: 0;
        max-width: 25%;
        z-index: 100;
    }
}

@media(max-width: 1750px) {
    .header-container.type4 {
        .mask-opaopacity {
            padding: 0 30px !important;
        }

        .link .list-social li i {
            padding: 0 7px;
        }

        .top-mini-cart {
            padding: 0;
        }
    }
}

@media(max-width: 1199px) {
    .header-container.type4 {
        .logo {
            display: block !important;
            text-align:center;
            a {
                padding: 10px 0 !important;
                display:inline-block;
                img {
                    margin: auto;
                }
            }
        }

        .top-mini-cart {
            margin-top: 0px !important;
            width: 20% !important;
            float: right;

            .cart-dd {
                top: 100% !important;
                left: auto !important;
                right: 0;
                bottom: inherit;
            }
        }

        .link {
            margin-top: 0 !important;
            padding-bottom: 10px !important;
            padding-top: 10px;

            .link-hover {
                padding: 0 !important;
            }

            .list-social {
                padding: 0 !important;
            }
        }
    }
}

@media(max-width: 991px) {
    .header-container.type4 {
        .top-mini-cart {
            width: auto;
            margin-top: 15px !important;
            width: 50% !important;
        }
        .main-mega{
            width:auto;
        }
        .link{
            margin-top:15px !important;
        }
    }
}

@media(max-width: 337px) {
    .header-container.type4 {
        .top-mini-cart {
            .cart-dd {
                right: -31px !important;
            }
        }

        .list-social {
            i {
                padding: 0 5px !important;
            }
        }
    }
}


@media(max-height: 850px) {
    .header-container.type4 {
        .logo a {
            padding: 10px 0;
        }

        .main-menu {
            margin-top: 20px;
        }

        .top-mini-cart {
            margin-top: 20px;
        }

        .link {
            padding: 0;
            margin-top: 10px;

            .link-hover, .list-social {
                padding: 0;
            }
        }

        .copy-rights {
            p {
                padding: 0;
            }
        }

        .main-menu.menu-left {
            a {
                font-size: 14px;
            }
        }
    }
}
