@charset "UTF-8";
.wrapper{
    width:100%;
    overflow:hidden
}
body{
    background:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size:14px;
    color:#333;
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
}
.line-though{
    text-decoration:line-through
}
.font-didot{
    font-family: 'dpdidot_htfm96medium';
}
.fs-11{
    font-size:11px
}
.fs-12{
    font-size:12px
}
.fs-13{
    font-size:13px
}
.fs-14{
    font-size:14px
}
.fs-14{
    font-size:14px
}
.fs-16{
    font-size:16px
}
.fs-18{
    font-size:18px
}
.fs-20{
    font-size:20px
}
.fs-22{
    font-size:22px
}
.fs-24{
    font-size:24px
}
.fs-26{
    font-size:26px
}
.fs-28{
    font-size:28px
}
.fs-30{
    font-size:30px
}
.fs-32{
    font-size:30px
}
.fs-36{
    font-size:36px
}
.text-black{
    color:#000!important
}
.text-green-light{
    color:#85c150!important
}
.text-green-32a923{
    color:#32a923!important
}
.text-light-purple{
    color:#a251da!important
}
.text-b42456{
    color:#b42456!important
}
.text-gray{
    color:#999
}
.color-fail{
    color:red
}
.line-h11{
    line-height:1.1
}
.lineh_43{
    line-height:43px
}
a{
    transition: 0.3s all;
    &:focus,&:hover{
        text-decoration:none;
        transition: 0.3s all;
    }
}
ul{
    margin-bottom: 0;
}

.menu-fixed{
    margin-top: 30px;
    transition: 0.3s all;
}
.title-theme{
    h3{
        font-family: 'dpdidot_htfm96medium';
        text-transform: uppercase;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 20px;
        &::before{
            content: '';
            border-bottom: 2px solid #000000;
            position: absolute;
            bottom: 0;
            width: 80px;
        }
    }
    &.title-center{
        h3{
            text-align: center;
            &::before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.page-title{
    font-family: 'dpdidot_htfm96medium';
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 28px;
    margin-bottom: 50px;
}