.btn-order {
    color: #fff;
    background-color: #c9252c;
    font-weight: bold;
    line-height: 40px;
    padding: 0 40px;
    display: inline-block;
}

.cart-step-1 {
    margin-top: 20px;
    .table-title,
    .cart-item {
        @extend .row;
        padding-left: 0;
    }
    .table-title { 
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #e5e5e5;
    }
    .cart-item {
        padding-bottom: 15px;
        padding-top: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .cart-col-5 {
        text-align: right;
    }
    .p-cart-info {
        @extend .d-flex,
        .flex-lg-row,
        .flex-column;
        img {
            max-width: 60px;
            padding: 3px;
            border-radius: 2px;
            border: 1px solid #e5e5e5;
            margin-right: 10px;
        }
        .p-name {
            display: block;
            color: #333333;
            @media (max-width: 767px) {
                margin: 10px 0;
            }
        }
        .p-del-cart {
            color: rgba(238, 70, 31, 255);
            margin-top: 5px;
            i {
                margin-right: 3px;
            }
        }
    }
    .p-cart-quantity,
    .p-cart-info-price {
        span {
            display: block;
        }
        input {
            max-width: 65px;
            padding: 4px 8px;
            border: none;
            background: #f2f2f2;
        }
    }
    .total-cart {
        padding-left: 0;
        padding-top: 12px;
        padding-bottom: 25px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
    }
}