/*==========================
  --  banner link Type4--
===========================*/
.banner-link.type4 {
    .text-banner {
        border-color: $color_theme !important;
        h3{
            color: $color_theme;
        }
        a{
            &:hover{
                color: $color_theme;
            }
        }
    }
}
