/*---------------------*/
// * Facts Echion *
/*---------------------*/

.facts-echion {
  background-image: url("../images/bg-facts.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}

@media (max-width: 1199px) {
  .facts-echion {
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  .facts-echion .number span {
    font-size: 60px;
  }
}