/*---------------------*/
// * Opening Hours *
/*---------------------*/
.opening-hours {
  background-image: url("../images/bg-opening.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}