.best-seller{
	.type1{
		h2{
			color: #2d3a4b;
		}
		p{
			color: #838890;
		}
	}
	.product-grid{
		ul{
			li{
				.product-container{
					clear: both;
					.product-content{
						.price{
							float: left;
							margin-top: 0;
							.new-price{
								color: #f32836;
							}
						}
					}
					.ratings{
						float: left !important;
					}
					.product-name{
						width: 100%;
						float: left;
						margin: 10px 0;
						a{
							letter-spacing: 0.3px;
						}
					}

				}
			}
		}
	}
	.load-more{
		width: 100%;
		float: left;
		margin: 20px 0 15px 0;
		a{
			&:hover{
				color: #fff;
			}
		}
	}
}