/*============
Footer Type 1
=============*/
.footer.type1{
    .footer-main{
        background: rgba(0, 0, 0, 0) url("../images/Goblet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h4{
            color: #fff;
            padding-bottom: 12px;
            margin: 0 auto;
            letter-spacing: 0.5px;
            padding-top: 5px;
        }
        .floral-decoration {
            background-image: url("../images/floral-decoration.png");
            background-repeat: no-repeat;
            margin: 0 auto;
            max-width: 70px;
            padding: 4px;
            text-align: center;
            width: 100%;
        }
        .footer-contact{
            list-style-type: none;
            margin-top: 14px;
            margin-bottom: 3px;
            font-weight: 400;
            letter-spacing: 1px;
            padding: 0;
            display: inline-block;
            width: 100%;
            li{
                color: #fff;
                line-height: 2.2;
                span{
                    padding-right: 5px;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
