/*===========
Footer Type3
===========*/ 
.footer.type3{
    .footer-main{
        background-image: url("../images/freshfood-bg-footer.jpg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .footer-right{
            position: static;
            z-index: 20;
            &:before{
                background-color: rgba(255, 255, 255, 0.05);
                background-position: 50% center;
                background-size: cover;
                content: "";
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 50%;
                z-index: 10;
            }
            .content{
                z-index: 1000;
                h4{
                    letter-spacing: 0.5px;
                    margin: 5px 0 0;
                }
                ul{
                   list-style-type: none;
                   padding: 0;
                   display: inline-block;
                    li{
                        margin-bottom: 16px; 
                        a{
                            color: #bebebe;
                            text-decoration: none;
                            letter-spacing: 0.5px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .footer-left{
            h4{
                letter-spacing: 0.5px;
                margin: 5px 0 0;
            }
            .address{
                list-style-type: none;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding: 0;
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
                li{
                    color: #bebebe;
                    margin-bottom: 12px;
                    letter-spacing: 0.25px;
                    span{
                        padding-right: 5px;
                        color: none;
                    }
                    a{
                        color: #bebebe;
                        text-decoration: none;
                    }
                }
            }
            .social{
                li{
                    padding: 0;
                    margin: 0 9px;
                    a{
                        padding: 0 6px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        p{
            display: inline-block;
            letter-spacing: 0.25px;
            margin: 26px 0;
            color: #5f5f5f;
            a{
                text-decoration: none;
            }
        }
    }
}
/*==============
End Footer Type3
==============*/
@media screen and (max-width: 991px){
    .footer.type3{
        .footer-main{
            .footer-right{
                &:before{
                    width: 100%;
                }
            }
        }
    }
}
