.order-success {
    &-heading {
        font-size: 24px;
        color: #2c2c2c;
        font-weight: bold;
        span {
            font-weight: normal;
            color: #959595;
            font-size: 14px;
            display: block;
        }
    }
    .image-check {
        margin: 45px 0;
    }
    .button-actions {
        button {
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            line-height: 40px;
            padding: 0 30px;
            font-weight: bold;
            border-radius: 0;
            margin: 0 5px;
            &:focus {
                box-shadow: none;
            }
            &.button-continue-shopping {
                background: #cccccc;
            }
            &.button-view-bill {
                background: #c9252c;
            }
        }
    }
}