.product-list-page{
    .home-product-item{
        margin-top: 46px;
    }
}
.product-related-list{
    margin-top: 55px;
    margin-bottom: 77px;
    .title-theme{
        margin-bottom: 40px;
    }
}