.order_product {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 3px;
    .header {
        padding: 15px 15px;
        background-color: #0e023a;
        display: flex;
        justify-content: space-between;
        span.order_product-title {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
        }
        span.change {
            a {
                color: #ffffff;
            }
        }
    }
    .items {
        padding: 15px 15px 0;
        .item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            .card-product {
                flex: 0 0 70%;
                display: flex;
                color: #333333;
                .thumbnail {
                    width: 80px;
                    img {
                        min-width: 100%;
                        max-width: 100%;
                        object-fit: cover;
                        vertical-align: middle;
                    }
                }
                .info {
                    margin-left: 15px;
                    color: #333;
                    .name {
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        span {
                            display: -webkit-box;
                            line-height: 20px;
                            color: #333333;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                    }
                    .product-attributes {
                        .product-color {
                            margin-left: 10px;
                            span {
                                height: 12px;
                                width: 12px;
                                background: #504646;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                    .amount {
                        .qty {
                            input[type=number]::-webkit-inner-spin-button,
                            input[type=number]::-webkit-outer-spin-button {
                                opacity: 1;
                            }
                            input[type=number] {
                                background: #f2f2f2;
                                border: 0px;
                                margin-top: 7px;
                                max-width: 110px;
                                padding: 6px 6px 6px 15px;
                            }
                        }
                    }
                }
            }
            .value {
                // flex: 0 0 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: right;
                color: #555555;
                span {
                    padding-right: 10px;
                    font-weight: 700;
                }
                span.price-old {
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .card-product {
        flex: 0 0 65% !important;
    }
}