.cate-product-item{
    .wrap-img{
        display: block;
        width: 100%;
        height: 0;
        position: relative;
        overflow: hidden; 
        padding-bottom: 124.5%;
        img{
            position: absolute;
            width: 100%;
            object-fit: cover;
            transition: transform .5s ease;
        }
        &:after{
            content:'\A';
            background: rgba(0,0,0,0.1);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
    }
    .content{
        text-align: center;
        margin-top: 30px; 
        .name{
            font-family: 'dpdidot_htfm96medium';
            font-size: 24px;
            font-weight: 500;
            color: #111111;
            display: block;
            margin-bottom: 6px;
        }
        .des{
            margin-bottom: 25px;
            font-size: 12px;
        }
        .shop{
            color: #000000;
            display: inline-block;
            padding: 10px 30px;
            border: 1px solid #000000;
            font-size: 12px;
            &:hover{
                background-color: #000000;
                color: #ffffff;
            }
        }
    }
    &:hover{
        .wrap-img{
            img{
                transform: scale(1.1);
            }
            &:after{
                opacity: 1;
            }
        }
    }
    
    .owl-dots {
        text-align: center;    
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot{
            background-color: transparent;
            border: none;
            padding: 0;
        }
        .owl-dot.active {
            span {
                background: #fff;
            }
        }
    }
}