.check-code-discount {
    .form-code-discount {
        color: #333;
        line-height: 45px;
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
        input {
            width: 100%;
            border: 1px solid #333333;
            border-radius: 5px;
            padding: 0 15px;
            font-size: 14px;
            &:focus {
                box-shadow: none;
            }
        }
        button {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            background: #f5f5f5;
            border: 1px solid #333333;
            color: #333;
            border-radius: 0;
            padding: 0 25px;
            margin: 0 0 0 15px;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .codes {
        color: #c9252c;
        .code-title {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .code {
            border: 1px solid#c9252c;
            display: inline-block;
            padding: 5px 10px;
            margin-right: 8px;
            span.code-policy {
                display: block;
            }
        }
    }
}