.contact-fill-form.contact-form{
    .title{
        font-size: 18px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 25px;
        border-bottom: 0;
    }
    form{
        font-size: 18px;
        color: #888888;
        .fill{
            position: relative;
            padding-bottom: 12px;
            input, textarea{
                padding: 7px 5px 7px 45px;
                width: 100%;
                display: block;
                font-weight: 500;
                line-height: 1.5;
                color: #888888;
                border: 1px solid #e5e5e5;
            }
            .icon{
                position: absolute;
                top: 5px;
                font-size: 20px;
                left: 15px;
            }
            ::placeholder{
                color: black;
            }
            .name.icon, .phone.icon{
                font-size: 22px;
            }
        }
        .fill.content {
            textarea{
                resize: none!important;
                height: 105px;
            }
        }
        button.send-contact{
            margin-top: 20px;
            border: none;
            padding: 11px 100px;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            color: #ffffff;
            background-color: #f37d26;
            &:hover{
                cursor: pointer;
                background-color: darken($color: #f37d26, $amount: 10%);
            }
        }
    }
}