.home-image-gallery{
    margin-top: 35px;
    width: 100%;
    position: relative;
    .image{
        width: 100%;
        @extend .d-flex;
        .item{
            @extend .col, .p-0;
            .wrap-img{
                display: block;
                width: 100%;
                height: 0;
                position: relative;
                overflow: hidden;
                padding-bottom: 100%;
                img{
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .4s ease;
                }
                &:after{
                    content:'\A';
                    background: rgba(0,0,0,0.2);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    -moz-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }
            }
            &:hover{
                .wrap-img:after{
                    opacity: 1;
                }
                .wrap-img img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .direct{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #000000;
        font-size: 18px;
        background-color: #ffffff;
        padding: 8px 35px;
        transform: translate(-50%, -50%);
    }
    .p-follow{
        font-size: 18px;
        margin-top: 28px;
        text-align: center;
        color: rgba(0, 0, 0, 255);
    }
}

@media (max-width: 767px){
    .home-image-gallery{
        .image{
            .item{
                display: none;
                &:nth-child(1), &:nth-child(2){
                    display: block;
                }
            }
        }
        .direct{
            font-size: 14px;
            transform: translate(-50%, -120%);
        }
    }
}