.news_detail_footer{
    margin: 60px 0 40px 0;
    .title{
        font-size: 28px;
        text-align: center;
        font-family: 'dpdidot_htfm96medium';
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    .line{
        display: block;
        margin-top: 15px;
        height: 2px;
        width: 80px;
        margin: auto;
        background-color: #000000;
    }
    .suggest{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        margin: 30px -15px 0 -15px;
        .item{
            flex: 0 0 50%;
            padding: 0 15px;
            .wrap{
                width: 100%;
            }
            .wrap-img{
                display: block;
                display: block;
                width: 100%;
                height: 0;
                position: relative;
                overflow: hidden;
                padding-bottom: 78.8%;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .5s ease;
                }
                &:after{
                    content:'\A';
                    background: rgba(0,0,0,0.1);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    -moz-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }
            }
            .name{
                font-size: 14px;
                color: #000000;
                margin: 15px 0 35px 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover{
                .wrap-img{
                    img{
                        transform: scale(1.1);
                    }
                    &:after{
                        opacity: 1;
                    }
                }
                .name{
                    color: #0e023a;
                }
            }
        }
    }
}