.guide-size {
    transition: all 0.4s ease 0s;
    &.has-modal {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: 99999;
        width: 100%;
        height: 100vh;
        transition: all 0.4s ease 0s;
    }
    .modal-size {
        max-width: 810px;
        margin: 0 auto;
        position: relative;
        padding: 30px;
        z-index: 9;
        top: 20%;
        background: #fff;
        img {
            max-width: 100%;
        }
        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            width: 50px;
            line-height: 50px;
            background: #000;
            text-align: center;
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
                object-fit: cover
            }
        }
        .title {
            font-family: 'dpdidot_htfm96medium';
            font-size: 24px;
            margin-bottom: 40px;
            text-align: left;
            color: #333333;
            @media (max-width: 767px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        .size {
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .guide-size {
        .modal-size {
            max-width: 90vw;
        }
    }
}

@media (max-width: 767px) {
    .guide-size .modal-size .btn-close {
        height: 35px;
        width: 35px;
        line-height: 35px;
        img {
            width: 15px;
            height: 15px;
        }
    }
    .guide-size {
        .modal-size {
            top: 12%;
        }
    }
}