.spin-game-discount{
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    align-items: center;
    transition: 0.7s all;
    transform: scaleX(1);
    transform-origin: left;
    #chart{
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
    }
    .email{
        display: block;
        flex: 1;
        text-align: center;
        .wrap{
            width: 70%;
            margin: auto;
            .title{
                font-family: 'dpdidot_htfm96medium';
                text-transform: uppercase;
                font-size: 24px;
                color: #333333;
            }
            .des{
                font-size: 12px;
                color: #333333;
                margin-bottom: 35px;
            }
            input{
                border: 1px solid #000000;
                height: 50px;
                padding: 5px 5px;
                width: 100%;
                &::placeholder{
                    font-size: 12px;
                    color: #888888;
                    text-align: center;
                }
            }
            button{
                background-color: #0f023a;
                color: #ffffff;
                width: 100%;
                border: none;
                margin-top: 12px;
                text-transform: uppercase;
                font-size: 12px;
                height: 50px;
            }
        }
       
    }
    .close-game{
        position: absolute;
        right: 30px;
        border: none;
        top: 20px;
        width: 35px;
        height: 35px;
        background-color: #191919;
        &:after{
            content: '\00d7';
            color: #959595;
            position: absolute;
            top: -6px;
            font-size: 32px;
            left: 8px;
        }
        &:hover{
            background-color: darken($color: #191919, $amount: 10%);
            cursor: pointer;
        }
    }
}
.spin-game-discount.hide{
    transform: scaleX(0);
}


#privy-container #privy-inner-container .privy-spin-to-win-container.privy-s2w-animate-in .privy-spin-to-win-overlay {
    opacity: 1;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
  }
  
  #privy-container #privy-inner-container .privy-spin-to-win-container.privy-s2w-animate-in .privy-spin-to-win-content-wrap {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  canvas{
    display: inline-block;
    vertical-align: baseline;
  }
  
  .privy-s2w-wheel-wrapper.privy-wont-animate {
    transform: translate(0%, 0%);
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  
  .privy-s2w-wheel-wrapper.privy-s2w-animate-in {
    -moz-transition: transform 1.4s cubic-bezier(0.72, -0.07, 0.02, 1.36);
    -o-transition: transform 1.4s cubic-bezier(0.72, -0.07, 0.02, 1.36);
    -ms-transition: transform 1.4s cubic-bezier(0.72, -0.07, 0.02, 1.36);
    -webkit-transition: transform 1.4s cubic-bezier(0.72, -0.07, 0.02, 1.36);
    transition: transform 1.4s cubic-bezier(0.72, -0.07, 0.02, 1.36);
    transform: translate(-50%, 0%);
  }
  
  .privy-s2w-wheel-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 200%;
    border-radius: 100%;
    transform: translate(-100%, 0%);
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-wheel {
    margin-bottom: -5px;
    overflow: visible !important;
    pointer-events: none;
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-wheel>* {
    pointer-events: none;
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-pointer {
    will-change: transform;
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-will-spin {
    will-change: transform;
    transform-origin: center;
    transform: rotateZ(0deg);
    transition: transform 2s;
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: rotateZ(0deg);
    transition: transform 2s;
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-text-container .privy-s2w-text-wrapper {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    transform-origin: 50% 50%;
    transform: translate(0, -50%);
  }
  
  .privy-s2w-wheel-wrapper .privy-s2w-text-container .privy-s2w-text-wrapper .privy-s2w-text {
    display: block;
    float: right;
    width: 100%;
    max-width: 38%;
    padding: 0 6% 0 9%;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    opacity: 0.84;
    text-rendering: geometricPrecision !important;
  }
  
  @media (max-width: 768px) {
    .privy-s2w-wheel-wrapper .privy-s2w-text-container .privy-s2w-text-wrapper .privy-s2w-text {
      font-size: 14px;
    }
  }
  
  @media (max-width: 560px) {
    .privy-s2w-wheel-wrapper .privy-s2w-text-container .privy-s2w-text-wrapper .privy-s2w-text {
      font-size: 13px;
    }
  }
  

@media (max-width: 991px){
  .spin-game-discount{
    width: 100vw;
  }
}