/*==========================
  --  Tab Product Home--
===========================*/
.tab_product {
  .nav-tabs {
    .item-tab {
      a {
        &:hover, &:active, &:focus {
          color: $color-theme;
        }
      }
    }
    .active {
      a {
        color: $color-theme!important;
      }
    }
  }
}

//Booking

.book__table {
  .form-group {
    &:before {
      &:hover {
        color: $color-theme;
      }
    }
  }
  .dropdown-menu {
    a {
      &:hover {
        color: $color-theme;
        background-color: transparent;
      }
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-theme;
    opacity: 1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $color-theme;
  }
  :-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
    color: $color-theme;
  }
  :-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: $color-theme;
  }
}

//Testimonials

.testimonials {
  .owl-controls {
    .owl-dots {
      .active {
        background-color: $color-theme!important;
      }
    }
  }
}