.hot-deals{
	.container{
		.title{
			p{
				color: #2d3a4b;
			}
		}
	}
}
.timer{
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	.timer-body-block{
		position: relative;
		&:before{
			background-color: rgba(255, 255, 255, 0.12);
			content: "";
			height: 2px;
			position: absolute;
			top: 30%;
			width: 236px;
		}
		.table-cell{
			margin: 0 5px;
			display: inline-block;
			.tab-val{
				//background-color: #96b019;
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				font-family: 'Playfair Display';
				width: 40px;
				height: 45px;
			}
			.tab-metr{
				text-align: center;
				display: inline-block;
				font-size: 13px;
				font-weight: 400;
				color: #9a9a9a;
			}
		}
	}
}