// Product Slider
.product-slider {
    position: relative;

    .owl-controls {
        .owl-nav {
            .owl-prev, .owl-next {
                font-size: 0;
                width: 30px;
                height: 30px;
                padding: 5px;
                background-color: #e1e1e1;
                color: #757575;
                text-align: center;

                &:before {
                    font-family: 'FontAwesome';
                    font-size: 16px !important;
                    display: block;
                }
            }

            .owl-next {
                &:before {
                    content: "\f105";
                }
            }

            .owl-prev {
                &:before {
                    content: "\f104";
                }
            }
        }
    }
}

.product-slider.type1 {
    .owl-nav {
        visibility: hidden;
        opacity: 0;

        .owl-prev, .owl-next {
            position: absolute;
            top: 30%;
        }

        .owl-prev {
            left: -15px;
        }

        .owl-next {
            right: -15px;
        }
    }

    &:hover {
        .owl-nav {
            visibility: visible;
            opacity: 1;
        }
    }
}

.product-slider.type2 {
    .owl-nav {
        position: absolute;
        right: 0;
        top: -67px;

        .owl-prev, .owl-next {
            float: left;
        }

        .owl-next {
            margin-left: 5px;
        }
    }

    .title {
        h4 {
            margin: 0;
            padding-bottom: 10px;
            margin-bottom: 37px;
            position: relative;
            color: #1b2027;

            &:after {
                content: '';
                border-bottom: 2px #8d8f93 solid;
                width: 35px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}
// Product Sidebar
.inforamtion {
}


.product-img-box {
    float: left;
    width: 42.6%;

    .product-image-inner {
        .product-img {
            margin-bottom: 30px;

            a {
                img {
                    border-radius: 5px;
                }
            }
        }

        .more-view-image {
            .gallery-image-thumb, .gallery-image-thumb-fullwidth {
                .owl-controls {
                    display: none;
                }
            }
        }
    }
}

.product-info {
    float: left;
    width: 57.4%;
    padding-left: 30px;

    .product-name {
        margin-top: -5px;

        h1 {
            margin: 0 auto;

            a {
                text-decoration: none;
                color: #26292d;
                letter-spacing: 0.3px;
            }
        }
    }

    .price {
        margin-top: 10px;

        span {
            letter-spacing: 1px;
        }
    }

    .rating-product {
        margin-top: 15px;
        margin-bottom: 35px;

        .ratings {
            float: left;
            width: 100px;

            .rating-box {
                width: 92px;
                height: 23px;
                background: url("../images/ratings-products.png") no-repeat center center;

                .rating {
                    background: url("../images/rating-products.png") no-repeat;
                    top: -1px;
                    left: 0;
                    height: 23px;
                }
            }
        }

        .rating-links {
            .customer-review {
                text-decoration: none;
                color: #6f6f6f;
                margin: 0 30px;
            }

            .add-review {
                text-decoration: none;
                color: #6f6f6f;
            }
        }
    }

    .product-atr {
        margin-top: 25px;
        margin-bottom: 18px;
        display: inline-block;

        p {
            letter-spacing: 0.3px;

            span {
                color: #7f7f7f;
            }

            a {
                text-decoration: none;
            }
        }

        .atr-code {
            width: 100%;
            float: left;
        }
    }

    .add-to-box {
        .product-qty {
            float: left;
            width: 25%;

            .custom-qty {
                .btn-plus-left {
                }

                .btn-plus {
                    .btn-plus {
                    }

                    .reduced {
                        border-style: solid none solid solid;
                        border-width: 1px medium 1px 1px;
                        border-radius: 5px 0px 0px 5px;
                    }

                    .increase {
                        border-style: solid solid solid none;
                        border-width: 1px 1px 1px medium;
                        border-radius: 0px 5px 5px 0px;
                    }

                    button {
                        height: 47px;
                        width: 28px;
                        background-color: rgb(255, 255, 255);
                        float: left;
                    }
                }

                input {
                    padding: 0;
                    float: left;
                    height: 47px;
                    text-align: center;
                    width: 60px !important;
                    color: #333333;
                    font-size: 13px;
                    //border: 0;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #ebebeb;
                }
            }
        }

        .add-to-cart {
            float: left;
            display: block;
            // background-color: red;
            padding: 0 17px;
            height: 47px;
            line-height: 47px;
            border-radius: 3px;
            margin-left: 45px;

            a {
                text-decoration: none;

                .add-links-cart {
                    padding: 0;
                    height: 44px;
                    line-height: 44px;
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                }

                .fa-shopping-cart {
                    font-size: 18px;
                    line-height: 47px;
                    float: left;
                    margin-right: 14px;
                    color: #fff;
                }
            }
        }

        .add-to-links {
            list-style-type: none;
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 0;

            li {
                a {
                    border-style: solid;
                    border-width: 1px;
                    border-color: #e1e1e1;
                    display: block;
                    height: 47px;
                    line-height: 47px;
                    text-align: center;
                    width: 50px;
                    border-radius: 3px;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .short-description {
        margin-top: 25px;

        p {
            color: #747577;
            display: block;
            line-height: 2;
            padding-bottom: 10px;
        }
    }

    .payments {
        margin-top: 35px;
        display: inline-block;

        ul {
            li {
                padding-right: 0;
                margin-right: 2px;
            }
        }
    }
}

.full-width {
    .product-img-box {
        width: 50% !important;
    }

    .product-info {
        width: 50% !important;
    }
}

@media(max-width: 1199px) {
    .full-width, .inforamtion {
        .product-img-box {
            width: 100% !important;
        }

        .product-info {
            width: 100% !important;
            margin-top: 20px;
            padding-left: 0;
        }
    }
}

@media(max-width: 500px) {
    .product-info {
        .add-to-box {
            .product-qty {
                width:100%;
                margin-bottom:10px;
            }
            .add-to-cart{
                margin-left:0;
            }
        }
    }
}

.tab-product-page {
    text-align: center;
    display: inline-block;
    width: 100%;

    .nav-tabs > li {
        z-index: 10;
    }

    ul {
        border-bottom: medium none;
        display: block;
        position: relative;
        text-align: center;
        width: 100%;
        float: left;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            &:before {
                content: "";
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                height: 3px;
                background-color: #f3f3f3;
            }
        }

        li {
            position: relative;
            display: inline-block;
            background-color: #ffffff;
            display: inline-block;
            float: none;
            margin: 0 auto !important;
            position: relative;
            text-align: center !important;
            padding-left: 15px;
            padding-right: 15px;

            &:first-child {
                padding-left: 0;

                a {
                    padding-left: 10px;
                    margin-left: 0;
                }
            }

            &:last-child {
                padding-right: 0;

                a {
                    padding-right: 10px;
                    margin-right: 0;
                }

                &:before {
                    display: none;
                }
            }

            &:before {
                bottom: 0;
                content: "/";
                height: 5px;
                margin: auto;
                position: absolute;
                right: -2px;
                top: -35px;
                width: 10px;
                color: #c8c8c8;
            }

            a {
                text-decoration: none;
                border: medium none;
                color: #c8c8c8;
                text-transform: uppercase;
                margin: 0 10px;
                letter-spacing: 1px;
                border: none !important;

                &:hover {
                    background-color: #fff;
                    color: #bc8d44;
                }
            }
        }

        li.active {
            a {
                color: red;
            }
        }
    }

    .tab-content {
        margin-top: -15px;
        display:inline-block;
        width:100%;
        .tab-pane {
            .box-content {
                p {
                    line-height: 1.8;
                    margin: 0 auto;
                }
            }
        }
    }
}

.tab-product-page {
    .tab-content {
        text-align: left !important;
    }
}

@media(max-width: 767px) {
    .tab-product-page {
        ul li {
            &:before {
                display: none;
            }

            a {
                font-size: 16px;
                padding: 0;
            }
        }
    }
}

@media(max-width: 500px) {
    .tab-product-page {
        ul li {
            &:before {
                display: none;
            }
        }
    }
}
//data sheet
#data-sheet {
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table-data-sheet tr {
        height: 44px;
    }

    .table-data-sheet tr td {
        color: #222;
        font-weight: 400;
        padding: 0 11px;
        border-style: solid;
        border-width: 1px;
        border-color: #ddd;
    }
}


// tab review
.tfs-container-tab {
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.tfs-header {
    .tfs-header-title {
        font-size: 25px;
    }

    .tfs-summary {

        .tfs-summary-caption {
            color: #f65656;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.8;
            margin-left: 30px;
        }
    }

    .tfs-summary-actions-newreview {
        display: inline-block;
        float: right;
        font-weight: 400;
        padding: 3px 12px;
        transition: all 0.3s ease 0s;

        &:hover {
            text-decoration: none;
        }
    }
}

.tfs-review, .tfs-form {
    border-color: #ececec;
}

.tfs-form {
    margin: 24px 0 0 0;
    padding: 24px 0 0 0;
    border-top: 1px solid #dfdfdf;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.tfs-form > form {
    margin: 0;
}

.tfs-form-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
}

.tfs-form-contact, .tfs-form-review, .tfs-form-actions {
    padding: 0;
    border: 0;
    margin: 0;
}

.tfs-form-contact-name, .tfs-form-contact-email, .tfs-form-contact-location, .tfs-form-review-rating, .tfs-form-review-title, .tfs-form-review-body {
    margin: 0 0 15px 0;
}

.tfs-form-label {
    float: left;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    font-weight: 500;
}

.tfs-form-label + .tfs-form-input {
    margin: 0;
}

.tfs-form-input-textarea, .tfs-form-label + .tfs-form-input {
    @include border_radius(0);
}

.tfs-form-input-text, .tfs-form-input-email, .tfs-form-input-textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
}

.tfs-form-input {
    margin: 0;
}

.tfs-form-review-rating {
    clear: both;
    overflow: hidden;
}

.tfs-form-input-textarea {
    resize: vertical;
}

.tfs-form-actions .button {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    @include border_radius(0);
}
