.banner-link.type4 {
    .img-banner {
        &:hover {
            img {
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                opacity: 0.5;
                @include transition(0.7s);
            }
        }

        a {
            display: block;
            overflow: hidden;
        }

        img {
            width: 100%;
            transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            @include transition(0.7s);
        }

        .content-banner {
            background-color: rgba(0, 0, 0, 0.2);
            top: 0;
            right: 15px;
            left: 15px;
            bottom: 0;
        }

        .banner-inner1 {
            width: 50%;
            height: 100%;
            float: right;
            background-color: rgba(0, 0, 0, 0.82);

            .text-banner {
                top: 15px;
                border: 1px solid;
                bottom: 15px;
                right: 15px;
                left: -20px;
                text-align: center;

                a {
                    text-decoration: none;
                    letter-spacing: 1.25px;
                }

                p {
                    letter-spacing: 1.25px;
                }
            }
        }

        .banner-inner2 {
            width: 100%;
            height: 100%;
            background-color: transparent;

            .text-banner {
                padding: 38px 0;
                left: 70px;
                right: 70px;
                background-color: rgba(0, 0, 0, 0.3);
                border: 1px #fff solid !important;
                top: 50%;
                @include transformY(-50%);

                a {
                    text-decoration: none;
                    letter-spacing: 1.25px;
                }
            }
        }
    }

    .hr {
        width: 15%;
        border-width: 2px;
        border-color: #acacac;
        display: block;
    }
}

@media(max-width: 991px) {
    .banner-link.type4 {
        .img-banner {
            margin-top: 5px;
        }
    }
}

@media(max-width:520px) {
    .banner-link.type4 .img-banner .banner-inner2 .text-banner {
        padding: 0;
        left: 10px;
        right: 10px;

        a {
            font-size: 12px;

            span {
                font-size: 14px;
            }
        }

        h3 {
            margin: 10px 0;
            font-size: 20px;
        }
    }

    .banner-link.type4 .img-banner .banner-inner1 {
        width: 100%;

        .text-banner {
            left: 15px;

            h3 {
                margin: 10px 0;
                font-size: 20px;
            }

            a {
                font-size: 14px;
            }

            hr {
                display: none;
            }

            p {
                display: none;
            }
        }
    }
}
