/*---------------------*/
// * Blog *
/*---------------------*/
.blog-slider {
    position: relative;

    .owl-controls {
        .owl-nav {
            .owl-prev, .owl-next {
                font-size: 0;
                width: 30px;
                height: 30px;
                padding: 5px;
                background-color: #e1e1e1;
                color: #757575;
                text-align: center;

                &:before {
                    font-family: 'FontAwesome';
                    font-size: 16px !important;
                    display: block;
                }
            }

            .owl-next {
                &:before {
                    content: "\f105";
                }
            }

            .owl-prev {
                &:before {
                    content: "\f104";
                }
            }
        }
    }
}

.blog-slider.type2 {
    .owl-nav {
        position: absolute;
        right: 0;
        top: -67px;

        .owl-prev, .owl-next {
            float: left;
        }

        .owl-next {
            margin-left: 5px;
        }
    }

    .title {
        h4 {
            margin: 0;
            padding-bottom: 10px;
            margin-bottom: 37px;
            position: relative;
            color: #1b2027;

            &:after {
                content: '';
                border-bottom: 2px #8d8f93 solid;
                width: 35px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    .blog-grid {
        ul {
            padding: 0;
            list-style-type: none;
        }
    }

    .item {
        display: block;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .content {
        position: relative;
        left: 10px;
        top: 10px;
        border: 1px solid;
        display: inline-block;
        width: 100%;
        height: 270px;

        &:hover {
            >a{
                @include box-shadow(10px 9px 7px -1px #ccc);
                @include transition(0.3s);
            }
            img {
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                @include transition(0.5s);
            }
        }

        > a {
            position: absolute;
            display: inline-block;
            max-width: 50%;
            left: -10px;
            top: -10px;
            overflow: hidden;
            @include box-shadow(0 0 0 0 #ccc);
            @include transition(0.3s);
        }

        img {
            transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            @include transition(0.5s);
        }

        .blog-caption {
            display: inline-block;
            max-width: 50%;
            float: right;
            padding: 10px;

            > a {
                text-decoration: none;
                padding-bottom: 20px;
                display: block;
                margin-bottom: 25px;

                &:after {
                    content: '';
                    border-bottom: 2px #8d8f93 solid;
                    width: 35px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            p {
                margin-bottom: 30px;
                color:#6f6f6f;
            }

            h6 {
                display: inline-block;
                margin: 0;
            }

            .calendar {
                display: inline-block;
                position: relative;
            }

            .calendar .dd p {
                font-size: 48px;
                font-weight: bold;
                margin: 0;
                margin-right: 10px;
            }

            .calendar .mm-yy {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 100%;
            }

            .calendar .mm-yy p {
                font-size: 13px;
                color: #4f4f4f;
                margin: 0;
            }
        }
    }
}
@media(max-width: 1500px){
    .blog-slider.type2 .content .blog-caption p{
        margin-bottom:0;
    }
}