@media (min-width:1625px) {
    .no-padding-layout {
        padding: 0;
    }
}
@media (max-width:1624px) {
    .layout-wine{
        width:100%;
    }
}
@media (max-width:1199px) {
    .layout-wine{
        margin:0;
        margin-top:10px;
    }
}
