.slider-banner.type1{
  .content-block{
    h5{
      color: #95b018;
      font-weight: 700;
      font-style: italic;
      letter-spacing: 1px;
    }
    h2{
      color: #fff;
      letter-spacing: 6px;
      padding-bottom:13px;
      font-weight:bold;
    }
    p{
      color: #fff;
      padding-bottom:25px;
      line-height: 33px;
    }
  }

  .owl-controls{
    .owl-prev{
      display: inline-block;
      left: 50px;
    }
    .owl-next{
      display: inline-block;
      right: 50px;
    }
    & .owl-prev,.owl-next {
      opacity: 0;
      visibility: hidden;
      top: 50%;
      @include transformY(-50%);
      position: absolute;
      .btn-ctr {
        color: #fff;
        font-size: 40px;
        border: 1px #fff solid;
        @include border_radius(70px);
        padding: 26px 40px;
        &:hover{
          border-color:#96b019;
          transition: 0.5s;
          background-color:#96b019;
        }
      }
    }
  }
  &:hover .owl-controls {
    & .owl-prev,.owl-next{
      visibility:visible;
      opacity: 1;
      transition: 1s;
    }
  }

  @media (min-width: 1200px) {}
  @media (max-width: 1199px) {}
  @media (min-width: 992px) {}
  @media (max-width: 991px) {}
  @media (min-width: 768px) {}
  @media (max-width: 767px) {}
  @media (max-width: 480px) {}
  @media (min-width: 992px) and (max-width: 1199px) { }
  @media (min-width: 768px) and (max-width: 991px) { }
  @media (min-width: 480px) and (max-width: 767px) { }


  @media (max-width: 991px) {
    .content-block {
      p {
        display: none;
      }
      h2 {
        font-size: 25px!important;
      }
      h5 {
        font-size: 20px!important;
      }
    }
  }

  @media (max-width: 767px) {
    .content-block {
      h2 {
        letter-spacing: 1px!important;
      }
      .btn {
        display: none;
      }
    }
    .owl-controls {
      display: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .content-block {
      h2 {
        font-size: 35px!important;
      }
      h5 {
        font-size: 25px!important;
      }
    }
  }
}