/*===========================*/
// * Slider type 4 *
.slider-banner.type4 {
    .mark {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.38);
    }

    .owl-controls {
        display: none;
    }

    .slider-caption {
        top: 50%;
        @include transformY(-50%);
        padding: 0 70px;

        h1 {
            letter-spacing: 0.25px;
            margin: 0;
        }

        h2 {
            letter-spacing: 4.6px;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 0;
        }

        p {
            margin-top: 28px;
            margin-bottom: 0;
            line-height: 34px;
            padding: 0 25px;
        }

        a {
            display: inline-block;
            margin-top: 50px;
            text-decoration: none;
            line-height: 45px;
            padding: 0 30px;
            display: inline-block;
            letter-spacing: 0.75px;
            @include border_radius(2px);
        }
    }

    .caption-type3 {
        .slider-caption {
            h1 {
                letter-spacing: 4px;
            }
        }
    }
}

@media(max-width: 890px) {
    .slider-banner.type4 .slider-caption {
        h2 {
            font-size: 36px;
        }

        p {
            display: none;
        }
    }
}

@media(max-width: 640px) {
    .slider-banner.type4 .slider-caption {
        h2 {
            font-size: 22px;
        }

        a {
            margin-top: 15px;
        }
    }
}

@media(max-width: 450px) {
    .slider-banner.type4 .slider-caption {
        padding:0 5px;
        a {
            line-height: 20px;
            margin-top: 7px;
            padding: 0 17px;
        }

        h2 {
            font-size: 14px;
        }
    }
}
