/*================
	Css Pagination
===============*/

.pagination {
    width: 100%;

    .pages {
        ul {
            padding: 0;
            margin: 0;
            display: inline-block;

            li {
                margin: 0 -5px;
                display: inline-block;

                a {
                    background-color: #f2f2f2;
                    border: 1px solid #f2f2f2;
                    color: #8f8f8f;
                    padding: 4px 11px;
                    text-decoration: none;
                    border-radius: 3px;

                    &:hover {
                        color: #bc8d44;
                        background-color: #fff;
                        border: 1px solid #bc8d44;
                        transition: all 0.8s;
                    }
                }

                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    padding-left: 0;
                    margin-left: 0;
                }
            }

            .current {
                margin-right: 0px;
                background-color: #fff;
                border-width: 1px;
                border-style: solid;
                color: #bc8d44;
                cursor: pointer;
                padding: 3px 12px;
                border-radius: 3px;
                display: inline-block;
                margin-left: -6px;
            }

            .bor-none {
                margin: 0;

                a {
                    i {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


.results {
    width: 100%;
    margin: 22px 0;

    p {
        color: #45414e;
        padding: 0;
        margin: 0;
    }
}

/*====================
	End Css Pagination
=====================*/
/*==============
	Css Toolbar 
===============*/
.toolbar {
    border-bottom: 1px solid #f1f1f1;

    .sorter {
        margin: 20px 0;
        display: inline-block;
        float: left;

        .view-mode {
            display: inline-block;
            float: left;

            a {
                border: 1px solid #a6a5a5;
                color: #a6a5a5;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                width: 30px;
                border-radius: 3px;
            }
        }

        .sort-by {
            display: inline-block;
            float: left;

            label {
                display: inline-block;
                float: left;
                line-height: 2.2;
                margin-left: 28px;
                margin-right: 12px;
                margin-bottom: 0;
            }

            .sort-by-inner {
                display: inline-block;
                float: left;

                #cata_sort_by {
                    button {
                        background-color: #ffffff;
                        border: 1px solid #b6b6b6;
                        border-radius: 3px;
                        height: 30px;
                        line-height: 10px;
                        width: 94px;

                        span {
                            margin-right: 4px;
                            color: #838187;
                        }

                        i {
                            width: 20px;
                            text-align: right;
                            font-size: 12px;
                            color: #8f8f8f;
                        }
                    }
                }

                ul {
                    margin-left: 158px;
                }
            }
        }
    }

    @media (max-width: 479px) {
        .col-12 {
            width: 100% !important;
            float: left;
        }
    }
}

.toolbar-bottom {
    border-top: 1px solid #f1f1f1;

    @media (max-width: 479px) {
        .col-12 {
            width: 100% !important;
            float: left;
        }
    }
}
/*=================
End Css Toolbar
==================*/
