/*---------------------*/
// * About Home 2 *
/*---------------------*/
.about {
  p {
    line-height: 2;
  }
  @media (max-width: 1199px) {
    .border-img {
      img {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 991px) {
    .border-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.link-style {
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: 0;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

