/*---------------------*/
// * Banner Menu Home 2 *
/*---------------------*/
.bg-menu {
  background-image: url("../images/bg-menu-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-menu {
  position: relative;
  z-index: 2;
}
.banner-menu__title {
  background-color: #fff;
  float: left;
  padding-bottom: 35px;
  padding-top: 40px;
  width: 100%;
}
.banner-menu__list {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 60px 40px;
  width: 100%;
  float: left;
  position: relative;
  .menu--title {
    width: 100%;
    top: 26px;
    left: 0;
    &:before, &:after {
      content: "";
      height: 1px;
      background-color: rgba(255, 255, 255, 0.15);
      float: left;
      width: 28%;
      position: absolute;
      top: 13px;
    }
    &:before {
      left: 40px;
    }
    &:after {
      right: 40px;
    }
  }
  .menu--box {
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .links-discover {
      margin-top: 15px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .item-menu {
    line-height: 2;
    a {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (min-width: 1200px) {
  .banner-menu {
    .item-banner-menu {
      position: relative;
      top: 80px;
    }
  }
}
@media (max-width: 991px) {}