/*---------------------*/
// * Blog *
/*---------------------*/
.blog.type2 {
    .blog__item {
      display: table;
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
    .blog__img {
      display: table-cell;
      vertical-align: middle;
    }
    .blog__content {
      background-color: #faf8eb;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      padding: 0px 25px;
      span {
        color: #a0a0a0;
        a {
          color: #a0a0a0;
        }
      }
      h5 {
        padding: 20px 0;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
      }
      .blog--comment, .blog--author {
        &:hover {
          text-decoration: none;
        }
      }
    }
  @media (min-width: 992px) {}
  @media (max-width: 991px) {
    .blog__img {
      img {
        width: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    .blog__img {
      width: 50%;
      float: none !important;
    }
    .blog__content {
      width: 50%;
      float: none !important;
    }
  }
  @media (max-width: 767px) {
    .blog__item {
      &:nth-child(3), &:nth-child(4) {
        margin-bottom: 30px;
      }
    }
    .blog__img {
      width: 100%;
      float: left;
      img {
        width: 100%;
      }
    }
    .blog__content {
      padding-top: 40px;
      padding-bottom: 40px;
      width: 100%;
      float: left;
    }
  }
}