/*---------------------*/
// * Book Table *
/*---------------------*/
.bg-book {
  background-image: url("../images/bg-book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.book__info {
  .book__time {
     width: 50%;
     span {
       clear: both;
       line-height: 1.5;
       width: 100%;
       float: left;
     }
  }
  .time-left {
    padding-right: 25px;
  }
  .time-right {
    padding-left: 25px;
  }
  .text-reservation {
    margin-top: 20px;
    width: 100%;
    float: left;
    position: relative;
    &:before, &:after  {
      content: "";
      background-color: rgba(255, 255, 255, 0.15);
      height: 1px;
      position: absolute;
      width: 40%;
      top: 50%;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
.book--select {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  margin-top: 5px;
  a {
    line-height: 3;
    vertical-align: middle;
    display: table;
    padding-left: 20px;
    width: 100%;
    text-decoration: none;
    position: relative;
    z-index: 10;
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.book__table {
  .form-group {
    position: relative;
    &:before {
      font-family: Flaticon;
      font-size: 13px;
      font-style: normal;
      position: absolute;
      top: 30%;
      right: 20px;
      color: #fff;
    }

    input {
      @extend .book--select;
      padding-left: 20px;
      position: relative;
      z-index: 10;
    }
  }
  .day {
    &:before {
      content:  "\f101";
      top: 35%!important;
    }
  }
  .hour {
    &:before {
      content: "\f100" ;
    }
  }
  .persons {
    &:before {
      content: "\f102"
    }
  }
  @media (min-width: 768px) {
    .form-group {
      margin-bottom: 0!important;
    }
  }
  @media (max-width: 767px) {
    .form-group {
      margin-bottom: 15px;
    }
  }
}