/*==========================
  --  Massage Chefs --
===========================*/
.massage-chefs {
  .content-chefs {
    p {
      margin: 0;
      line-height: 2;
    }
  }
  .img-chefs {
    position: absolute;
    top: -38px;
  }
}