/* color */

.color-price-old {
  color: #fa6b6b;
}
.color-price-old:hover {
  color: #fa6b6b;
}
.color-1b2027{
    color:#1b2027;
}
.color-2f2f2f{
    color:#2f2f2f;
}
.color-9f9f9f{
    color:#9f9f9f;
}
.color-dark-green {
  color: #26292d;
}
.color-white {
  color: #fff;
}
.color-dark {
  color: #333333;
}
.color-dark:hover {
  color: #333333;
}
a.color,
a.color:hover {
  color: #fc9501;
}
.color-red {
  color: #fc9501;
}
.color-red:hover {
  color: #fc9501;
}
.color-pink {
  color: #fa6b6b;
}
.color-pink:hover {
  color: #fa6b6b;
}
.color-blue {
  color: #395499;
}
.color-blue:hover {
  color: #395499;
}
.color-blue-light {
  color: #67e0fa;
}
.color-blue-light:hover {
  color: #67e0fa;
}
.color-green {
  color: #21caa9;
}
.color-green:hover {
  color: #21caa9;
}
.color-green-dark {
  color: #fc9501;
}
.color-green-dark:hover {
  color: #fc9501;
}
.color-gray {
  color: #999999;
}
.color-gray:hover {
  color: #999999;
}
.color-yellow {
  color: #feea3a;
}
.color-black {
  color: #000;
}

/* background-color */
.bg-while{
    background-color:#fff;
}
.bg-red {
  background-color: #fa6b6b;
}

.bg-pink {
  background-color: #fa6b6b;
}
.bg-pink-while {
  background-color: #faf8eb;
}

.bg-blue {
  background-color: #395499;
}
.bg-light-blue {
  background-color: #67e0fa;
}
.bg-green {
  background-color: #21caa9;
}
.bg-green-light {
  background-color: #41df7c;
}
.bg-green-dark {
  background-color: #fc9501;
}
.bg-yellow {
  background-color: #feea3a;
}
.bg-coquelicot {
  background-color: #fd6940;
}
.bg-dark {
  background-color: #26292d;
}
.bg-black {
  background-color: #000;
}
.bg-transparent {
  background-color: transparent;
}
/* border */

.border-while {
  border-color: #fff;
}
.border-gray {
  border-color: #b2b2b2;
}
