
/* fonts-size */
$j : 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 28, 30, 33, 35, 36, 42, 45, 48, 50, 80;
@each $i in $j {
  .font#{$i}{
    font-size: $i+px;
  }
}

@media (max-width: 768px) {
  $j: 30, 33, 35, 36, 42, 48, 50, 80;
  @each $i in $j {
    $t: $i/2;
    .font#{$i} {
      font-size: $t+px;
    }
  }
}
@media (max-width: 480px) {
  $j: 48, 50, 80;
  @each $i in $j {
    $t: $i/3;
    .font#{$i} {
      font-size: $t+px;
    }
  }
}

.font-display {
  font-family: 'Playfair Display';
}
.font-GreatVibes{
    font-family:'Great Vibes';
}
* {
  @include transition(0.3s);
}
body {
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
}
