/* -------------------------------------------- *
 * Parallax Bacground
 */

.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

//Custome position

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.position-top {
    @include position($bottom:null);
}

.position-right {
    @include position($left:null);
}

.position-bottom {
    @include position($top:null);
}

.position-left {
    @include position($right:null);
}

.position-center {
    @include position($top:50%,$bottom:null);
    @include transformY(-50%);
}

.left-middle {
    @include position($top:50%,$bottom:null,$right:null);
    @include transformY(-50%);
}

.block-layout {
    @include block_layout($top:80px)
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.text-normal {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semi-bold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

@media (min-width: 992px) {
    //customize divider

    .divider {
        clear: both;
        overflow: hidden;
        width: 100%;
    }

    .divider--xs {
        height: 30px;
    }

    .divider--sm {
        height: 60px;
    }

    .divider--md {
        height: 70px;
    }

    .divider--lg {
        height: 80px;
    }
    .divider--max-lg {
        height: 105px;
    }
}

@media (max-width: 991px) {

    .divider {
        clear: both;
        overflow: hidden;
        width: 100%;
    }

    .divider--xs {
        height: 15px;
    }

    .divider--sm {
        height: 30px;
    }

    .divider--md {
        height: 35px;
    }

    .divider--lg {
        height: 40px;
    }
}
// border

.border {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}

//separate
.separate {
    border-top: 1px solid #ddd;
    clear: both;
    float: left;
    width: 100%;
}
