.bg-banner{
  background-image: url("../images/freshfood-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner{
  .banner-content{
    margin-bottom: 0px;
  }
  .product__title {
    color: #fff;
    h2 {
      &:before, &:after {
        display: none;
      }
    }
  }
  .banner-group-btn {
    a {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}