.services.type1{
  .content-services{
    margin: 0;
    .services__box {

    }
    .services__box1{
      background-color: #96b019;

    }
    .services__box2{
      background-color: #d45b54;
    }
    .services__box3{
      background-color: #fd8300;
    }
  }
  p{
    color: #fff;
    text-align: center;
    padding-bottom: 48px;
    padding-top: 45px;
    margin: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .box--icon {
    margin-right: 10px;
    font-size: 26px;
  }
}

