.social{
    li{
        a{
            &:hover{
                color: $color-theme!important;
                transition: all 300ms ease 0s;
            }
        }
    }
}
.footer-menu{
    li{ 
        a{
            &:hover{
                color: $color-theme;
            }
        }
    }
}
/*============
footer type1
=============*/
.footer.type1{
    .footer-main{
        .footer-contact{
            li{
                a{
                    &:hover{
                        color: $color-theme;
                    }
                }
            }
        }
    }
}
/*===============
footer type2
================*/
.footer.type2{
    border-top: 2px solid $color-theme;
    .get-in-touch{
        .contact{
            li{
                a{
                    &:hover{
                        color: $color-theme;
                    }
                }
            }
        }
    }
    .newsletter{
        form{
            button{
                background-color: $color-theme;
            }
        }
    }
}
.footer.type3{
    .footer-main{
        .footer-left{
            ul{
                li{
                    a{
                        &:hover{
                            color: $color-theme;
                        }
                    }
                }
            }
        }
        .footer-right{
            .content{
                ul{
                    li{
                        a{
                            &:hover{
                                color: $color-theme;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer.type4{
    .footer-top{
        .contact{
            span{
                a{
                    &:hover{
                        color: $color-theme;
                    }
                }
            }
        }
    }
}